<table class="table table-hover"">
  <tr>
    <th>Producto</th>
    <th>Categoría</th>
    <th>Usuario</th> 
    <th>Borrar Item</th> 
  </tr>
  <% @items.each do |item| %>
	<tr>
	  	<td><%= item.description %></td>
		<td><%= item.category.name %></td>
		<td><%= item.user.name if item.user %></td>
		<td><%= link_to "Borrar", controller: :items, action: :destroy, id: item %></td>
	</tr>
  <% end %>


</table>